body{
    margin: 0;
    padding: 0;

}

#logo-main{
    height: 5rem;
}
#logo-second{
    height: 5rem;
}
.navbar-top{
    height: 7.65rem;

}
.lets-be-funny{
    display: flex;
    justify-content: space-between;
    width: 65rem;
    background-color: #EDEBDF;
    margin: auto;
}
.logo-container{
    width: 12%;
    background-color: #EDEBDF;
    justify-content: center;
    align-items: center;
    display: grid;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.logo-name-container{
    width: 70%;
    background-color: #EDEBDF;
    margin: 0;
    align-items: center;
    display: grid;
}
.third-container-after-logo{
    width: 18%;
    justify-content: end;
    align-items: center;
    display: grid;
}
.CollegeName{
    font-size: 2.3rem;
    font-style: oblique;
    margin-left: 16px;
}

.main-menu{
    height: 3rem;
    background-color: #363636;
    margin: 0;
    padding: 0;
    position: relative;
    top: -3rem;
    justify-content: center;
    display: grid;
}
.main-menu-list{
    width: 65rem;
    background-color: whitesmoke;
    height: 3rem; /*---need to check if suits or not*/
    justify-items: flex-start;
    display: flex;
}
.list-of-links{
    display: flex;
    background-color: #363636;
    color: white;
    height: 3rem;
    cursor: pointer;
}

.list-navbar{
    display: flex;
    list-style-type: none;
    width: 100%;
}
.list-navbar ul{
    text-align: start;
    width: 4rem;
}

.list-navbar p{
    margin-top: 24px;
}
/* .empty-space{
    width: 15%;
    background-color: whitesmoke;
} */
/* .list-empty-space{
    width: 15%;
    background-color: black;
} */

.menu-sample-space{
    width: 10%;
    background-color: #363636;
}
.list-of-links{
    width: 50%;
}
.links-social{
    width: 40%;
    display: flex;
    justify-content: end;
    background-color:#363636;
    color: white;
    align-items: center;
    padding: 12px;
}
.links-social p{
    font-size: 1rem; cursor: pointer; margin: 0;
}
#fb-icon {
    height: 2.5rem;
    padding: 10px;
    cursor: pointer;
}

#twi-icon {
    height: 2.5rem;
    padding: 10px;
    cursor: pointer;
}

#go-icon{
    height: 2.9rem;
    padding: 10px;
    cursor: pointer;
}





#search-icon-nav{
    width: 19px;
    align-items: center;
    height: 3rem;
}
/*drop downs - with hover effects css starts here*/

/**hover to all list insdie the list navbar - */
#home-nav-list-1{
    list-style-type: none;
    width: 17%;
}
#connect-nav-list-2{
    width: 18%;
}
#third-nav-list-3{
    width: 20%;
}
#fourth-nav-list-4{
    width: 20%;
}
#searchbar-nav-list-5{
    width: 25%;
    margin-top: 15px;
}

/* first hover nav list */
#home-nav-list-1:hover .dd-1{
    display: block;
}
/* second hover nav list */
#connect-nav-list-2:hover .dd-2{
    display: block;
}
/* third drop down hover */
#third-nav-list-3:hover .dd-3{
    display: block;
}
/* fourth nav -list -hover */
.fourth-nav-list-4:hover .dd-4{
    display:block
}
/* more  detail hover effect on the sub list of dd-1, dd-2, dd-3, dd-4. */
.dd-1 li{
    opacity: 1;
    cursor: pointer;
}
.dd-2 li{
    opacity: 1;
    cursor: pointer;
}
.dd-3 li{
    opacity: 1;
    cursor: pointer;
}
.dd-4 li{
    opacity: 1;
    cursor: pointer;
}

/* hover for each list now */

.dd-1:hover li{
    opacity: 0.5;
}
.dd-2:hover li{
    opacity: 0.5;
}
.dd-3:hover li{
    opacity: 0.5;
}
.dd-4:hover li{
    opacity: 0.5;
}



.dd-1{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 9rem;
    position: absolute;
    padding: 9px;
    text-align: start;
    top: 48px;
    display: none
}
.dd-1 li{
    padding: 14px;
}

.dd-2{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 5rem;
    position: absolute;
    padding: 12px;
    text-align: start;
    list-style-type: none;
    top: 48px;
    display: none;
}
.dd-3{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 5rem;
    position: absolute;
    text-align: start;
    list-style-type: none;
    padding: 21px;
    top: 48px;
    display: none;

}
.dd-4{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 6rem;
    position: absolute;
    padding: 16px;
    text-align: start;
    list-style-type: none;
    top: 48px;
    display: none;
}
.dd-4 li{
    padding: 10px;
    
}
.list-navbar ul {
    text-align: center;
    width: 4rem;
    height: 3rem;
    top: -17px;
    position: relative;
    align-items: center;
    padding: 0;
}
.list-navbar ul p{
    padding-left: 20px;
}
.hamburger-icon{
    height: 2rem;
    position: absolute;
    right: 9px;
    top: 8px;
    cursor: pointer;
}
.searchbar-topnavbar {
    position: absolute;
    height: 2rem;
    right: 39px;
    top: 8px;
    cursor: pointer;

}
/* collapsible navbar - css starts here*/


.second-collasp-navbar {
    height: 19rem;
    width: 100%;
    background-color: #363636;
    color: white;
    top: -317px;
    position: absolute;
    transition: top 0.3s ease-out; /* Move it here */
    z-index: 4;
}
.second-collasp-navbar.active {
    top: 40px;
}
.list-cn {
    padding-top: 0.3rem;
    width: 90%;
    text-align: start;
    position: relative;
}

.list-cn ul {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    padding: 20px;
}

/* footer css starts here  */

.main-footer-body-map{
    background-color: #363636;
    background-image: url(https://static.almabaseapp.com/img/map_without_labels.c474a674d948.png);
    background-repeat: no-repeat;  
    height: 400px; 
    width: 100%; 
    position: relative;
}
#footer-map-global{
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.main-footer-body-map-overlay{
    background-image: linear-gradient(130deg, #ff98008c, #2b076aa1);
    width: 100%;
    height: 384px;;
    position: absolute;
    z-index: 2;
    /* z-index-2 for display item on top of the image */
    top: 0;
    left: 0;
    
}
.row-of-cities{
    padding-top: 30px;
}
.footer-button-ahref{
    background-color: rgb(255 255 255 / 24%);
    height: 2.7rem;
    width: 12rem;
    border-radius: 6px;
    text-align: center;
    align-items: center;
    margin: 61px auto;
    box-shadow: 0px 0px 0px 1px rgb(254, 253, 253);
    transition: background-color 0.3s ease-out;
}
/* hoevr effect on a button */
.footer-button-ahref:hover{
    background-color: rgba(255, 255, 255, 0.844);
}
.footer-button-ahref:hover a{
    color: black;
}


.footer-button-ahref a{
    text-decoration: none;
    color: white;
    top: 11px;
    position: relative;
}
.footer-container-liquid-lol{
    height: auto;
    background-color: #363636;
    margin: 0;
    padding: 0;
    top: -16px;
    position: relative;
    align-items:start;
    
}
.contaminatior-lol-pick-it-up{
    justify-content: space-evenly;
    align-items: start;;
    padding-top: 2rem;
    display: flex;
    width: 65rem;
    margin: auto;
    padding-bottom: 2rem;
}
.contaminatior-lol-pick-it-up .muito-obrigado{
    width: 202px;
    color: white;
    font-size: 0.9rem;
}

.everything-container-liquidity-solity{
    height: 400px;
    width: 100%;
    position: relative;
}
.text-box-of{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: math;
}
.row-of-cities{
    display: flex; 
    width: 100%; 
    justify-content: space-evenly;
}

/* footer base -code here  */

#logo-ab-footermebhi{
    height: 2rem;
}
.f-c-b-l-i-mann{
    display: flex;
    align-items: center;
    padding: 10px;
}
.f-c-b-l-i-mann2{
    padding: 10px;
    float: left;
}
.footer-ki-base-container{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 51px;
    max-width: 65rem;
    margin: auto;
}




@media (min-width:1040px) {
    .hamburger-icon{
        display: none;
    }
    .searchbar-topnavbar{
        display: none;
    }
    .down-arrow-nav-list{
        display: none;
    }
    .second-collasp-navbar{
        display: none;
    }
}



/* effects active when the screen size is less than 1040 px */

@media (max-width:1040px) {
    .navbar-top{
        height: 3.7rem;
        z-index: 3;
        position: relative;
    }
    .navbar-top .lets-be-funny .logo-container, .logo-name-container, .third-container-after-logo{
        display: none;
    }
    /* .hamburger-icon{

    } */
    /* .searchbar-topnavbar{

    } */

    .menu-sample-space{
        display: none;
    }
    .searchbar-nav-list-5{
        display: none;
    }
    .list-empty-space{
        display: none;
    }
    .links-social{
        display: none;
    }
    .list-of-links {
        width: 100%;
    }
    #searchbar-nav-list-5 {
        display: none;
    }
    .main-menu{
        display: none;
    }
    .everything-container-liquidity-solity{
        display: none;
    }
    .contaminatior-lol-pick-it-up{
        flex-direction: column;
        padding-left: 1rem;
    }
    /* foooter responsvie  */
    .contaminatior-lol-pick-it-up{
        width: 100%;
    }
}


